body {
  font-family: "Comfortaa", cursive !important;
}

.css-10hburv-MuiTypography-root {
  font-family: "Comfortaa", cursive !important;
  font-size: 12px !important;
}

.css-ojxnvh-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: white !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.splashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.5vh;
}
.homeSplash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mt-5 {
  margin-top: 0rem !important;
}

.navbar a {
  text-decoration: none;
}

.navbar span:hover {
  color: #32fbe2 !important;
}

.navbar {
  height: 75px;
  padding-left: 200px;
  align-items: center;
  justify-content: space-between;
  position: fixed !important;
  top: 0;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  background-color: #000 !important;
}

.navholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000 !important;
  width: 88vw;
  position: fixed;
  border-bottom: 2px solid white;
  z-index: 100;
}

.dashboard_container {
  display: grid;
  grid-template-columns: auto;

  height: 100vh;
}

.mainContainer {
  width: 87%;
  margin-left: 225px;
}

.dashboard_container img {
  height: 100px;
  margin-right: auto;
}

.white-text {
  color: white !important;
}
