body {
  font-family: "Comfortaa", cursive !important;
}

.css-10hburv-MuiTypography-root {
  font-family: "Comfortaa", cursive !important;
  font-size: 12px !important;
}

.css-ojxnvh-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: white !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #32fbe2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ea39b8;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.splashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.5vh;
}

.mt-5 {
  margin-top: 0rem !important;
}

.navbar a {
  text-decoration: none;
}

.navbar span:hover {
  color: white !important;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.dashboard_container img {
  height: 100px;
}

.white-text {
  color: white !important;
}
